@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

/* Hide scrollbar for Firefox and IE */
.box::-webkit-scrollbar {
  width: 0.5em;
  background: transparent;
  outline: none;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.box::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
  width: 0;
  
}
.box {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


